/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 25px;
  height: 20px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ffffff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #757575;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 20px;
  width: 20px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgb(0, 0, 0);
  left: 0;
  width: 99% !important;
}

.bm-burger-bars {
  border-radius: 5px !important;
}

.custom-navbar-mobile {
  height: 100px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.664);
  opacity: 0.8;
  margin-left: 1%;
  /* margin-right: 1%; */
  border-radius: 10px;
  justify-content: space-around;
  align-items: space;
  position: absolute;
  z-index: 2;
  width: 98%;
}

.menu-div {
  margin-top: 50px;
  position: absolute;
  left: 0;
}

.navbar-button {
  color: white;
  /*margin: 2%;*/
  font-weight: bold;
  align-self: center;
  text-decoration: none;
}


/* DISEÑO RESPONSIVE XS (0px < 600px) */
@media only screen and (max-width: 600px) {
  .navbar-button-icon {
    margin: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 1rem;
  }

  .navbar-img{
    position: absolute;
  }

  .bm-burger-button {
    display: flex;
  }

  .menu-div {
    position: static;
    color:red;
  }

}